@model Weterynarze.Models.Vet

@{
    ViewData["Title"] = "Create";
}

<h1>Tworzenie zlecenia...</h1>

<hr />

<div class="formsize">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Imie" class="control-label"></label>
            <input asp-for="Imie" class="form-control" />
            <span asp-validation-for="Imie" class="text-danger"></span>
            <br />
        </div>
        <div class="form-group">
            <label asp-for="Nazwisko" class="control-label"></label>
            <input asp-for="Nazwisko" class="form-control" />
            <span asp-validation-for="Nazwisko" class="text-danger"></span>
            <br />
        </div>
        <div class="form-group">
            <label asp-for="Zwierze" class="control-label"></label>
            <input asp-for="Zwierze" class="form-control" />
            <span asp-validation-for="Zwierze" class="text-danger"></span>
            <br />
        </div>
        <div class="form-group">
            <label asp-for="Objawy" class="control-label"></label>
            <input asp-for="Objawy" class="form-control" />
            <span asp-validation-for="Objawy" class="text-danger"></span>
            <br />
        </div>
        <div class="form-group">
            <label asp-for="Adres" class="control-label"></label>
            <input asp-for="Adres" class="form-control" />
            <span asp-validation-for="Adres" class="text-danger"></span>
            <br />
        </div>
        <div class="form-group">
            <label asp-for="Priorytet" class="control-label"></label>
            <input asp-for="Priorytet" class="form-control" />
            <span asp-validation-for="Priorytet" class="text-danger"></span>
            <br />
        </div>
        <div class="form-group">
            <input type="submit" value="Dodaj" class="btn btn-primary" />
        </div>
    </form>


</div>

<div>
    <br />
    <a class="button button1" asp-action="Index">Powrót</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
