@model Weterynarze.Models.Vet

@{
    ViewData["Title"] = "Edit";
}

<h1>Edytowanie zlecenia...</h1>

<hr />
<div class="formsize">
    <form id="myForm" asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Imie" class="control-label"></label>
            <input asp-for="Imie" class="form-control" />
            <span asp-validation-for="Imie" class="text-danger"></span>
            <br />
        </div>
        <div class="form-group">
            <label asp-for="Nazwisko" class="control-label"></label>
            <input asp-for="Nazwisko" class="form-control" />
            <span asp-validation-for="Nazwisko" class="text-danger"></span>
            <br />
        </div>
        <div class="form-group">
            <label asp-for="Zwierze" class="control-label"></label>
            <input asp-for="Zwierze" class="form-control" />
            <span asp-validation-for="Zwierze" class="text-danger"></span>
            <br />
        </div>
        <div class="form-group">
            <label asp-for="Objawy" class="control-label"></label>
            <input asp-for="Objawy" class="form-control" />
            <span asp-validation-for="Objawy" class="text-danger"></span>
            <br />
        </div>
        <div class="form-group">
            <label asp-for="Adres" class="control-label"></label>
            <input asp-for="Adres" class="form-control" />
            <span asp-validation-for="Adres" class="text-danger"></span>
            <br />
        </div>
        <div class="form-group">
            <label class="control-label">Status zlecenia</label>
            <input type="hidden" asp-for="Priorytet" id="statusInput" class="form-control" />
            <span asp-validation-for="Priorytet" class="text-danger"></span>
            <br />
        </div>
        <div class="form-group">
            <select id="statusDropdown" class="form-control">
                <option value=1>Nowe zlecenie</option>
                <option value=2>W trakcie realizacji</option>
                <option value=3>Zrealizowane</option>
            </select>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Zapisz" onclick="addStatus()" class="btn btn-primary" />
        </div>
    </form>
    <script>
        function addStatus() {
            var dropdown = document.getElementById("statusDropdown");
            var input = document.getElementById("statusInput");
            input.value = dropdown.value;
            document.getElementById("myForm").submit();
        }
    </script>
</div>


<div>
    <a class="button button1" asp-action="Index">Powrót</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}