@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInMenager
@inject UserManager<IdentityUser> UserMenager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 class="display-4 back" style="color:black">Witaj na stronie weterynarzy PetMobile</h1>
    <p style="color:black">Mobilny system dla weterynarzy.</p>

    @if (User.IsInRole("Admin") || User.IsInRole("Dystrybutor") || User.IsInRole("Weterynarz"))
    {
        <h1>Hi Admin!</h1>
    }
    else
    {


    }

    <partial name="_LoginPartial" />

</div>


