@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<br/>
<br />
<br />
<h1>Wysłano email z potwierdzeniem resetu hasła na podany adres</h1>
<p>
    Sprawdź email i kliknij w link aby zresetować hasło
</p>