@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}
<br />
<br />
<div class ="form-css">
    <header>
        <h1>Czy na pewno chcesz się wylogować?</h1>
        @{
            if (User.Identity?.IsAuthenticated ?? false)
            {
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                        <br/>
                            <button type="submit" class=" w-100 btn-lg btn btn-primary">Wyloguj</button>
                        </form>
            }
            else
            {
                        <p>Pomyślnie wylogowano z konta.</p>
            }
        }
    </header>
</div>