@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}
<br />
<br />
<br />
<h1>Wyślij ponownie link do resetu hasła</h1>
<h2>Wpis email</h2>
<hr />
<div class="form-css">
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-floating">
            <input asp-for="Input.Email" class="form-control" aria-required="true" />
            <label asp-for="Input.Email" class="form-label"></label>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <br/>
        <button type="submit" class="w-100 btn btn-lg btn-primary">Wyślij ponownie</button>
    </form>
</div>


@section Scripts {
        <partial name="_ValidationScriptsPartial" />
}