<!DOCTYPE html>

@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInMenager
@inject UserManager<IdentityUser> UserMenager

@{
    ViewData["Title"] = "Home Page";
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Weterynarze</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Weterynarze.styles.css" asp-append-version="true" />
</head>
<body style=" background-color:white">

    <div class="hero_area">
        <!-- header section strats -->
        <header class="header_section">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg custom_nav-container ">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="images/logo.png" alt="">
                        <span>
                            PetMobile
                        </span>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
                            <ul class="navbar-nav  ">
                                <li class="nav-item active">
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Strona Główna </a>
                                </li>
                                @if (User.IsInRole("Admin") || User.IsInRole("Dystrybutor") || User.IsInRole("Weterynarz"))
                                {
                                    <li class="nav-item active">
                                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Polityka Prywatności</a>
                                    </li>
                                    <li class="nav-item active">
                                        <a class="nav-link" asp-area="" asp-controller="Vets" asp-action="Index">Zlecenia </a>
                                    </li>
                                    <li class="nav-item active">
                                        <a class="nav-link" asp-area="" asp-controller="Vets" asp-action="Location">Mapa</a>
                                    </li>
                                }


                            </ul>
                            @*<form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                            <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
                            </form>*@
                        </div>

                        @*@if (User.IsInRole("Admin") || User.IsInRole("Dystrybutor") || User.IsInRole("Weterynarz"))*@
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="quote_btn-container  d-flex justify-content-center">
                                <a class="nav-link" asp-area="Identity" asp-page="/Account/Logout">
                                    Wyloguj
                                </a>
                            </div>
                        }

                        else
                        {
                            <div class="quote_btn-container  d-flex justify-content-center">
                                <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">
                                    Rejestracja
                                </a>
                            </div>
                            <div class="quote_btn-container  d-flex justify-content-center">
                                <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">
                                    Zaloguj się
                                </a>
                            </div>
                        }



                    </div>
                </nav>
            </div>
        </header>

        <div class="container center text-center">
            <main role="main" class="pb-3">
                <br />
                @RenderBody()
            </main>
        </div>


        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
















